@import "../utils/Colors.scss";

.why-container{
    min-height:50vh;
    .container{
        margin-top:0 10%;
        padding:5rem 0;
        .top{
            display:flex;
            justify-content: center;
            align-items: center;
            // flex-direction: column;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .why-container {
    .container {
      .top {
        .subTitle {
          p {
            font-size: 1.6rem;
          }
        }
      }
      .content {
        grid-template-columns: 1fr;
        .reasons {
          ul {
            li {
              margin-bottom: 3rem;
              font-size: 1.7rem;
              &::before {
                top: 0px;
              }
            }
          }
        }
        .video {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .why-container {
    .container {
      .top {
        .subTitle {
          p {
            font-size: 1.6rem;
          }
        }
      }
      .content {
        .reasons {
          ul {
            li {
              margin-bottom: 3rem;
              font-size: 1.7rem;
              &::before {
                top: 0px;
              }
            }
          }
        }
        .video {
          height: 100%;
        }
      }
    }
  }
}
